.workspace {
  &-container {
    display: flex;
    height: 64px;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
  &-active {
    opacity: 1;
    background-color: #f4f7fe;
  }
  &-titleContainer {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    background-color: #b3c4d6;
  }
  &-input {
    outline: none;
    border: none;
    background-color: transparent;
  }
}
